.website-card {
  margin-top: 50px;
  border: 1px solid black;
  width: 33vw;
  height: 40vh;
  background-position: center;
  background-size: cover;
}

@media only screen and (max-width: 1500px) {
  .website-card {
    width: 40vw;
  }
}

@media only screen and (max-width: 900px) {
  .website-card {
    width: 80vw;
  }
}
