.websites-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 10%;
  margin-top: 50px;
}

@media only screen and (max-width: 1500px) {
  .websites-grid {
    // display: grid;
    // grid-template-columns: 1fr;
  padding: 0 5%;
  }
}

@media only screen and (max-width: 900px) {
  .websites-grid {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 4vw;
  }
}
